.converter_form {
	display: flex;
	gap: 30px;
	align-items: center;
}

.converter_input {
	width: 50px;
	height: 50px;
	padding: 0px;
}

.converter_submit {
	width: 75px;
	height: 50px;
}

.converter_result {
	margin-top: 100px;
}

.formula4 {
	position: relative;
}

.formula4_inputs {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.numerators {
	display: flex;
	justify-content: space-between;
}

.numerator {
	display: flex;
	width: 42%;
	justify-content: flex-end;
}

.numerator input {
	display: flex;
	margin-right: 30px;
}

.denominators {
	display: flex;
	justify-content: space-between;
}

.denominator {
	display: flex;
	width: 42%;
	justify-content: center;
}
